<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>docs classifier</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <header>
        <h1>AI - docs classifier</h1>
    </header>
    <div class="container">
        <div class="column">
            <!-- Left Column Content - Project and Author information -->
            <div class="block">
                <textarea class="textInput" rows="9" cols="95"></textarea>
            </div>
            <div class="block">
                <a href="https://github.com/a-donald">
                    <img
                        src="https://github-stats-alpha.vercel.app/api?username=a-donald&cc=22272e&tc=37BCF6&ic=fff&bc=0000">
                </a>
            </div>
            <img src="https://img.shields.io/badge/python-black?style=for-the-badge&logo=python">
            <img src="https://img.shields.io/badge/scikit--learn-black?style=for-the-badge&logo=scikit-learn">
            <img src="https://img.shields.io/badge/numpy-black?style=for-the-badge&logo=numpy">
        </div>
        <div class="column" id="dropZone">
            <!-- Right Column Content - Drag and Drop Zone -->
            <p>Drag and drop files here or click to browse</p>
            <input type="file" id="fileInput" multiple style="display: none;">
            <button id="upload-button">Upload</button>
            <div class="file-list" id="fileList">
                <ul></ul>
            </div>
        </div>
    </div>
    <footer>
        <h3>
            contact the author: <a href="mailto:donaldyoungoua@gmail.com">mail</a> or <a
                href="https://www.linkedin.com/in/donald-youngoua-3b573a257">linkedIn</a>
        </h3>
    </footer>
    <script src="../static/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</body>

</html>